*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(IMAGES/lavender.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.xlogo{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 25px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: lavender;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
.card{
    width: 240px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url(IMAGES/music.png);
}
.card2{
    background-image: url(IMAGES/game.png);
}
.card3{
    background-image: url(IMAGES/jinwoo.png);
}
.card4{
    background-image: url(IMAGES/shadow.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: 20px;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 9px;
}
.intro{
    font-size: 15px;
}
button:hover{
    background-color: #fff;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-right: 50px;
}
  nav{
    flex: 1;
    text-align: right;
  }
  .logo{
    font-size: 200%;
    width: 50px;
    cursor: pointer;
    font-family: didot;
}